@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-family: "SF Pro Display", sans-serif; */
    background: #202020;
    /* animation: yourAnimation 2s forwards 0s ease-in-out; */
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0);
        /* background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244)); */
        opacity: 0.25;
        }
    100%{
        transform: rotate(0);
        /* background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244)); */
        opacity: 1;
        }
}

.main-header{
    background-color: #161616;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.brand-logo{
    width: 4.5rem;
    padding: 0.5rem;
}
.brand{
    display: inline-block;
    margin: 1.2rem;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: 500;
}

.brand a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav-list-item{
    margin-right: 3rem;
    transition: 0.3s ease;
}

.nav-list-items{
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-list-items li a{
    text-decoration: none;
    color: rgb(180, 180, 180);;
    font-size: 1.6rem;
    padding: 0.2rem 0.6rem;
}

.nav-list-item:hover{
    background-color: rgba(0, 0, 0);
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px #ffffff, 2px 2px #ffffff, 3px 3px #ffffff;
    transform: translateX(-3px);
}

.showcase{
    height: 60vh;
    width: 100%;
    /* background: url(../Images/mic-bg.png) no-repeat; */
    /* background-size: 100%; */
    /* background-position: 20px 48px; */
    padding: 2rem;
    margin-left: 0;
    color: white;
    animation: yourAnimation1 1.2s forwards 0s ease-out;
}

@keyframes yourAnimation1{
    0%{
        transform: rotate(0) scale(0.6) skewX(0deg);
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) skewX(0);
        opacity: 1;
        }
}

.showcase img{
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: -1;
    width: 60rem;
}

.showcase h1{
    position: absolute;
    top: 18rem;
    left: 5.6%;
    font-size: 10rem;
    font-weight: 500;
    animation: yourAnimation2 1.4s forwards 0s ease;
}

@keyframes yourAnimation2{
    0%{
        transform: rotate(0) scale(.8) translateY(-80px) skewX(15deg);
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) translateY(0) skewX(0);
        opacity: 1;
        }
}

#about, #events{
    transition: all 0.3s ease-out;
}

.showcase h2{
    position: absolute;
    top: 30rem;
    left: 5.6%;
    font-size: 4rem;
    color: rgb(155, 155, 155);
}

.showcase p{
    position: absolute;
    top: 41%;
    left: 5.6%;
}

.header h1{
    color: #ffffff;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 4rem;
    font-size: 6rem;
    font-weight: 300;
}

.sub-header{
    color: #ffffff;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 500;

}

.secondary-text{
    font-weight: 200;
    font-size: 3rem;
    font-style: italic;
}

.iframe-container{
    position: relative;
    width: 70rem;
    padding-bottom: 70rem; 
    height: 0;
    margin-top: 2.6rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 60%;
  }

.social-media-head{
    margin-top: 2rem;
    font-size: 4rem;
    font-style: italic;
}

.video-container{
    width: 100rem;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 6rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.video-container video{
    width: 100%;
}

.div-1{
    position: absolute;
    top: 0;
    width: 36.5%;
    height: 100%;
    background-color: #202020;
    z-index: 100;
}

.div-2{
    position: absolute;
    top: 0;
    right: 0;
    width: 36.5%;
    height: 100%;
    background-color: #202020;
    z-index: 100;
}

.social-media-link{
    z-index: 10;
}

.social-media-link span{
    font-size: 2.4rem;
    font-weight: 300;
    color: #9c9c9c;
}
.social-media-link a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.social-media-link a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.social-media-link a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease;
}

.social-media-link a:active{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.student-list{
    width: auto;
}

.student-list li{
    list-style-type: none;
}

.main{
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 100%;
}

.content-para{
    font-size: 2rem;
    color: rgb(197, 197, 197);
    width: 80rem;
    padding: 0 4rem;
    text-align: justify;
    margin-left: 50%;
    transform: translateX(-50%);
}

.orientation-para{
    margin-top: -25rem;
}

.plain-text{
    font-size: 2rem;
    color: rgb(192, 192, 192);
    text-align: center;
    font-weight: 400;
}

.events-photo{
    padding: 2.6rem;
    width: 80rem;
}

.macbook-mockup{
    width: 100rem;
    margin-top: 1rem;
    z-index: -2;
}

.color-grey{
    color: rgb(151, 151, 151);
}

footer{
    background-color: #333;
    color: #fff;
    padding: 1.2rem;
    margin-top: 4%;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}

footer p{
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

footer h3{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: left;
    padding-right: 3rem;
    width: 500px;
    margin: 0;
}

    @media screen and (max-width: 992px) {
    .showcase{ height: 65vh;}
  }
    @media screen and (max-width: 768px) {
    .showcase{ height: 50vh;}
  }
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
    @media screen and (max-width: 600px) {
        .showcase{ height: 40vh;}
        html{font-size: 7px;}
    } 
    
    @media only screen and (max-width: 530px) {
        html{font-size: 6px;}
        } 

    @media only screen and (max-width: 480px) {
            html{font-size: 5px;}
            .showcase{ height: 30vh;}
            .logo-head{display: none;}
            .header h1{
                font-size: 7rem;
            }
            .sub-header{
                font-size: 4.5rem;
            }
            .content-para{
                font-size: 2.2rem;
            }
            .video-container{
                width: 120rem;
            }
            .macbook-mockup{
                width: 120rem;
            }
            }
            
    @media only screen and (max-width: 380px) {
                html{font-size: 4.5px;}
                .logo-head{display: none;}
                .header h1{
                    font-size: 8rem;
                }
                .sub-header{
                    font-size: 5rem;
                }
                .content-para{
                    font-size: 2.6rem;
                }
                .video-container{
                    width: 130rem;
                }
                .macbook-mockup{
                    width: 130rem;
                }
                } 
    @media only screen and (min-width: 600px) {
    html{font-size: 7px;}
    } 

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    html{font-size: 8px;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    html{font-size: 10px;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    html{font-size: 12px;}
  }

  

 