@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-family: "SF Pro Display", sans-serif; */
    background: #202020;
    overflow-y: hidden;
    /* animation: yourAnimation 2s forwards 0s ease-in-out; */
}

.complete-body{
    position: relative;
    overflow-x: hidden;
}

.spinner-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    z-index: 1000;
    /* animation: loadingscreen 1.2s forwards; */
}

.spinner{
    animation: oscillate 1.5s infinite;
}

.spinner img{
    width: 12rem;
}



@keyframes loadingscreen {
    0%{
    }
    100%{
        transform: translateY(-100vh);
    }
}

@keyframes oscillate{
    0%{
        transform: rotate(-60deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-60deg);
    }
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0);
        /* background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244)); */
        opacity: 0.25;
        }
    100%{
        transform: rotate(0);
        /* background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244)); */
        opacity: 1;
        }
}

#bootstrap-overrides .navbar-collapse{
    flex-grow: 0;
}

#bootstrap-overrides .navbar-toggler-icon{
    width: 2.5rem;
    height: 2.5rem;
}

#bootstrap-overrides1 .navbar{
    /*   z-index should be above .close-navbar-toggler */
      z-index:2;
      padding: 0;
    }
   #bootstrap-overrides1 .close-navbar-toggler{
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      z-index:1;
      cursor:pointer;
    }
   #bootstrap-overrides1 .close-navbar-toggler.collapse{
      z-index:-1;
    }

.main-header{
    background-color: #161616;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    position: fixed;
}

.brand-logo{
    width: 4.5rem;
    padding: 0.5rem;
    color: rgb(216, 216, 216);
}
.brand{
    display: inline-block;
    margin: 1.2rem;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: 500;
}

.brand a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav-list-item{
    margin-right: 3rem;
    transition: 0.3s ease;
    overflow-y: hidden;
}

.nav-list-items{
    display: flex;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
}

.nav-list-items li a{
    text-decoration: none;
    color: rgb(180, 180, 180);;
    font-size: 1.6rem;
    padding: 0.2rem 0.6rem;
}

.nav-list-item:hover{
    background-color: rgb(226, 226, 226);
    color: #2c2c2c;
    border-radius: 4px;
    /* box-shadow: 1px 1px #e0e0e0, 2px 2px #e0e0e0, 3px 3px #e0e0e0; */
    transform: translateX(-3px);
}

#bootstrap-overrides ul li .nav-link:hover{
    color: #000;
    font-weight: 500;
}

.below-navbar{
    width: 100%;
    height: 10rem;
}

.navbar-toggler{
    margin-right: 1.1rem
}

#about, #events, #gallery{
    height: 1rem;
}

.showcase{
    height: 60vh;
    width: 100%;
    /* background: url(../Images/mic-bg.png) no-repeat; */
    /* background-size: 100%; */
    /* background-position: 20px 48px; */
    padding: 2rem;
    margin-left: 0;
    /* margin-top: 10rem; */
    color: white;
    animation: yourAnimation1 1.2s forwards 0s ease-out;
}

@keyframes yourAnimation1{
    0%{
        transform: rotate(0) scale(0.6) skewX(0deg);
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) skewX(0);
        opacity: 1;
        }
}

.showcase img{
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: -1;
    width: 60rem;
}

.showcase h1{
    position: absolute;
    top: 18rem;
    left: 5.6%;
    font-size: 10rem;
    font-weight: 500;
    animation: yourAnimation2 1.4s forwards 0s ease;
}

@keyframes yourAnimation2{
    0%{
        transform: rotate(0) scale(.8) translateY(-80px) skewX(15deg);
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) translateY(0) skewX(0);
        opacity: 1;
        }
}

#about, #events{
    transition: all 0.3s ease-out;
}

.showcase h2{
    position: absolute;
    top: 30rem;
    left: 5.6%;
    font-size: 4rem;
    color: rgb(155, 155, 155);
}

.showcase p{
    position: absolute;
    top: 41%;
    left: 5.6%;
}

.header h1{
    color: #ffffff;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 4rem;
    font-size: 6rem;
    font-weight: 300;
}

.sub-header{
    color: #ffffff;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 500;

}

.secondary-text{
    font-weight: 200;
    font-size: 3rem;
    font-style: italic;
}

.iframe-container{
    position: relative;
    width: 70rem;
    padding-bottom: 70rem; 
    height: 0;
    margin-top: 2.6rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 60%;
  }

.social-media-head{
    margin-top: 2rem;
    font-size: 4rem;
    font-style: italic;
}

.video-container{
    width: 100rem;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 6rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.video-container video{
    width: 100%;
}

.div-1{
    position: absolute;
    top: 0;
    width: 36.5%;
    height: 100%;
    background-color: #202020;
    z-index: 100;
}

.div-2{
    position: absolute;
    top: 0;
    right: 0;
    width: 36.5%;
    height: 100%;
    background-color: #202020;
    z-index: 100;
}

.social-media-link{
    z-index: 10;
}

.social-media-link span{
    font-size: 2.4rem;
    font-weight: 300;
    color: #9c9c9c;
}
.social-media-link a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.social-media-link a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.social-media-link a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease;
}

.social-media-link a:active{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.student-list{
    width: auto;
}

.student-list li{
    list-style-type: none;
}

.main{
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.content-para{
    font-size: 2rem;
    color: rgb(197, 197, 197);
    width: 80rem;
    padding: 0 4rem;
    text-align: justify;
    margin-left: 50%;
    transform: translateX(-50%);
}

.orientation-para{
    margin-top: -25rem;
}

.events-photo{
    padding: 2.6rem;
    width: 80rem;
}

.macbook-mockup{
    width: 100rem;
    margin-top: 1rem;
    z-index: -2;
    overflow-x: hidden;
}

.color-grey{
    color: rgb(151, 151, 151);
}

.profile-cards{
    padding: 3rem;
    margin-top: 4rem;

}

#team{
    width: 100%;
    height: 1.8rem;
}

.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    /* background-color: #a5a5a5; */
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    

    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 1.2rem;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #485461;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #485461;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #28313b;
    transform: scale(0.7);
  }
  
.our-team .team-content .name{
    color: #fff;
    font-size: 2rem;
}

  .our-team .title {
    display: block;
    font-size: 15px;
    color: #aaaaaa;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #687a8d;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }


 .member-profile .plain-text{
    font-size: 2rem;
    display: inline-block;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    font-weight: 400;
    padding: 0 4rem;
    height: 100%;
    vertical-align: middle;
}

#committee{
    margin-top: 6rem;
}

  .committee{
      width: 40%;
      background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
      padding: 4rem 2rem;
      border-radius: 2rem;
      margin-top: 4rem;
      margin-left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;

  }
  .member-profile{
      display: table;
      margin: 2rem 0;
  }

.profile-picture{
    display: inline-block;
    height: 12rem;
    width: 12rem;
    z-index: 1;
    margin-left: 3rem;
    position: relative;
}

.profile-picture img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    /* transform: scale(1); */
    transition: all 0.9s ease 0s;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 1.2rem;
    margin-top: 4%;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}

footer a{
    font-weight: 500;
    display: inline;
    text-align: right;
    /* vertical-align: middle; */
    text-decoration: none;
    color: #fff;
    /* width: 20%; */
}

footer a:hover{
    text-decoration: none;
    color: rgb(151, 151, 151);
}

footer a:link{
    text-decoration: none;
    /* color: #fff; */
}

footer a:visited{
    text-decoration: none;
    /* color: #fff; */
}

footer h3{
    display: inline-block;
    /* font-size: 1.6rem; */
    font-weight: 300;
    text-align: left;
    padding-right: 3rem;
    width: 500px;
    margin: 0;
}

#gallery-container{
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}


#bootstrap-overrides{
    /*   z-index should be above .close-navbar-toggler */
      z-index:2;
      box-shadow:0 2px 10px rgba(0,0,0,0.1);
    }
    #bootstrap-overrides .close-navbar-toggler{
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      z-index:1;
      cursor:pointer;
    }
    #bootstrap-overrides .close-navbar-toggler.collapsed{
      z-index:-1;
    }

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1065px){
    .committee{
        width: 45%;
    }
}

    @media screen and (max-width: 992px) {
    .showcase{ height: 50vh;}
    #bootstrap-overrides .navbar-collapse{
        flex-grow: 0;
    }
    #bootstrap-overrides ul li{
        margin: 4rem;
    }
    #gallery-container{
        width: 80%;
    }
    .member-profile .plain-text{
        font-size: 2.4rem;
    }
  }
    @media screen and (max-width: 768px) {
    .showcase{ height: 50vh;}
    #bootstrap-overrides ul li a{
        font-size: 2.6rem; 
    }
    #gallery-container{
        width: 90%;
    }
    .our-team .team-content .name{
        font-size: 2.6rem;
    }
    .committee{
        width: 55%;
    }
    .member-profile .plain-text{
        font-size: 2.4rem;
    }
    
  }
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
    @media screen and (max-width: 600px) {
        html{font-size: 7px;}
        body{overflow-x: hidden;}
        .brand{margin: 0.2rem 0.8rem;}
        .brand-logo{width: 6.5rem;}
        .showcase{ height: 40vh;}
        .main-header{overflow-x: hidden;}
        #bootstrap-overrides ul li a{
            font-size: 2.8rem; 
        }
        /* #gallery-container{
            width: 100%;
        } */
        footer a{
            width: 12%;
        }
        .committee{
            width: 60%;
        }
        .member-profile .plain-text{
            font-size: 2.8rem;
            padding: 0 2rem;
        }
        footer h3{
            font-size: 2.4rem;
        }
        footer{
            font-size: 2.4rem;
        }
    } 

    .nav-active{
        transform: translateX(0%);
    }
    
    @media only screen and (max-width: 530px) {
        html{font-size: 6px;}
        .nav-list-items li a{
            font-size: 4rem;
        }
        .brand-logo{width: 10rem;}
        .logo-head{display: none;}
        
        #bootstrap-overrides ul li a{
            font-size: 3rem; 
        }
        #bootstrap-overrides .navbar-toggler-icon{
            width: 4.5rem;
            height: 4.5rem;
        }
        .our-team .team-content .name{
            font-size: 3rem;
        }
    }

    @media only screen and (max-width: 480px) {
            html{font-size: 5px;}
            .showcase{ height: 30vh;}
            .logo-head{display: none;}
            .brand-logo{width: 9rem;}
            .header h1{
                font-size: 7rem;
            }
            .sub-header{
                font-size: 4.5rem;
            }
            .social-media-head{
                font-size: 5rem;
            }
            .social-media-link span{
                font-size: 2.6rem;
            }
            .content-para{
                font-size: 2.2rem;
            }
            .video-container{
                width: 120rem;
            }
            .macbook-mockup{
                width: 120rem;
            }
            #bootstrap-overrides .navbar-toggler-icon{
                width: 4.5rem;
                height: 4.5rem;
            }
            .carousel-indicators [data-bs-target]{
                width: 20px!important;
            }
            footer h3{
                font-size: 2.8rem;
            }
            footer{
                font-size: 2.8rem;
            }
            footer a{
                width: 16%;
            }
            .our-team .team-content .name{
                font-size: 3.2rem;
            }
            }
            
    @media only screen and (max-width: 380px) {
                html{font-size: 4.5px;}
                .logo-head{display: none;}
                .header h1{
                    font-size: 8rem;
                }
                .sub-header{
                    font-size: 5rem;
                }
                .social-media-head{
                    font-size: 5.5rem;
                }
                .social-media-link span{
                    font-size: 3rem;
                }
                .content-para{
                    font-size: 2.6rem;
                }
                .video-container{
                    width: 130rem;
                }
                .macbook-mockup{
                    width: 130rem;
                }
                #bootstrap-overrides .navbar-toggler-icon{
                    width: 5.5rem;
                    height: 5.5rem;
                    
                }
                footer h3{
                    font-size: 3.4rem;
                }
                footer{
                    font-size: 3.4rem;
                }
                footer a{
                    width: 30%;
                }
                .our-team .team-content .name{
                    font-size: 3.8rem;
                }
                } 
    @media only screen and (min-width: 600px) {
    html{font-size: 7px;}
    } 

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    html{font-size: 8px;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    html{font-size: 10px;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    html{font-size: 12px;}
  }

  

 